/* reset */

* {
    padding: 5px;
    margin: 5px;
}

/* type */

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  background-color: antiquewhite;
  color:black;
}

/* structure */
.spacer{
height: 100vh;
border: 2px solid white;
}

section{
height: 50vh;
background: whitesmoke;
margin: 40px;
}