/* reset */

* {
    padding: 5px;
    margin: 5px;
}

/* type */

body {
  font-family: "quatro-slab", serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  font-style: normal;
  color: #4C411A;
  background-color: #A4AA83;
  margin:70px;
 
  
}

a{
  color:antiquewhite;
  text-decoration: none;
}






/* structure */
.spacer{
height: 100vh;
border: 2px solid #D8DDB8;
}

section{
height: 60vh;
background: #D8DDB8;
margin: 40px;
}