/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: Times, serif;
    text-align: center;
    font-size: 38px;
    line-height: 1.2;
    background-color: #F6F6F2;
}

/* structure */
.spacer{
  height: 100vh;
  border: 2px solid red;
}

section{
  height: 50vh;
  background: yellow;
  margin: 50px;
}