main{
	font-size: 6vw;
   margin: auto;
	text-align: center;
   max-width: 80%;
}

/* button{
   margin-bottom: 1rem;
   font-size: 4vw;
   font-family: 'Allium Rounded', sans-serif;
   padding: .5em;
   border: 10px solid;
   border-radius: 50%;
   outline: none;
} */

button:hover{
   background: rgb(211, 192, 255);
   cursor: pointer;
}