
* {
  padding: 10px;
  margin: 10px;
}

/* type */

body {
  font-family: "quatro-slab", serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  font-style: normal;
  color: #4C411A;
  background-color: #A4AA83;
  margin:70px;
}

a{
  color:antiquewhite;
  text-decoration: none;
}




/* structure */
.spacer{
height: 100vh;
border: 4px solid antiquewhite;
}

section{
  height: 50vh;
  background: #D8DDB8;
  margin: 40px;
}