
* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
  font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    background-color: #2a52be;
    color:azure;
}

/* structure */
.spacer{
  height: 100vh;
  border: 2px solid white;
}

section{
  height: 50vh;
  background: blue;
  margin: 50px;
}