body {
  font-family: "quatro-slab", serif;
  font-weight: 700;
  font-style: normal;
  background-color: #B2AC88;

}

h1{
  text-align: center;
}

h2{
  text-align: left;
}

.container{
  display: grid;

}

a{
  font-family: "quatro-slab", serif;
font-weight: 700;
font-style: normal;
color: beige;
text-transform:capitalize;
text-decoration: none;

}


/* structure */
.spacer{
  height: 100vh;
  border: 2px solid white;
}

section{
  height: 50vh;
  background: whitesmoke;
  margin: 40px;
}
