body {
  font-family: "quatro-slab", serif;
  font-weight: 700;
  font-style: normal;
  background-color: #A4AA83;
  margin:80px;

}

h1{
  color:#4C411A;
  text-align: justify;
}

h2{
  color: #4C411A;
  text-align: left;
}

.wra{
  text-align:right;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 50px;
}


.wrap2{
  display: grid;
  grid-template-columns:3fr 3fr 3fr;
  grid-auto-rows: 100px;
}


a{
font-family: "quatro-slab", serif;
font-size: large;
font-weight: 700;
font-style: normal;
color:#F3EED9;
text-transform:capitalize;
text-decoration: none;

}


/* structure */
.spacer{
  height: 100vh;
  border: 2px solid white;
}

section{
  height: 50vh;
  background: whitesmoke;
  margin: 40px;
}
