body{
    font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2.5rem;
}


#data-container {
    display: none;
  }
  

h1{
    text-align: center;
    cursor: pointer;
}


p{
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
 }


 
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      
      }

      th {
        background-color: rgb(250, 237, 228);
      }

     
      .bronx {
        background-color: #fcd720;
      }

      .brooklyn {
        background-color: #87ceeb;
      }

      .manhattan {
        background-color: #f08080;
      }

      .queens {
        background-color: #9acd32;
      }

      .staten-island {
        background-color: #fb9857;
      }
   

#myHeaders{
    text-align: center;
    color: #2F5233;
}

#hello{
    text-align: right;
}

a{
    
    font-size: 1.2rem;
    text-align: right;
    font-family: "menca", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2F5233;
}

a:hover{
    color: aliceblue;
}
a:visited {
    color: #50C878;
  }

button{
 height: 50px;
  width: 100px;
  background-color: rgb(244, 186, 186);
  box-shadow: #9acd32;
  font-family: "menca", sans-serif;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
    
}

h3{
    font-size: 5rem;
}