body{
font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2.5rem;
text-align: center;
color: #2F5233;
}





.flex-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; }

.item {
  flex: 1; 
  height: 100px;
  background-color: rgb(255, 255, 255); 
  margin: 0 10px; 
  font-size: 1.5rem;
  padding-top: 10px;
  font-family: "menca", sans-serif;
}

.item1 {
  flex: 1; 
  height: 100px;
  background-color: rgb(255, 255, 255); 
  margin: 0 10px; 
  font-size: 1.5rem;
  padding-top: 10px;
  font-family: "menca", sans-serif;
}


.flex-container2 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; }

.item {
  flex: 1; 
  height: 100px;
  background-color: rgb(255, 255, 255); 
  margin: 0 10px; 
  font-size: 1.5rem;
  padding-top: 10px;
  font-family: "menca", sans-serif;
}







#data-container {
    display: none;
  }
  

h1{
    text-align: center;
    cursor: pointer;
}


p{
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
 }


 
      table {
 
        width: 100%;
      }

      th, td {
        border: 0px solid black;
        padding: 20px;
        text-align: center;
      
      }

      th {
        background-color: rgb(250, 237, 228);
      }

     
      .bronx {
        background-color: #fcd720;
      }

      .brooklyn {
        background-color: #87ceeb;
      }

      .manhattan {
        background-color: #f08080;
      }

      .queens {
        background-color: #9acd32;
      }

      .staten-island {
        background-color: #fb9857;
      }
   



#hello{
    text-align: right;
}

a{
font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 4rem;
text-align: center;
text-decoration: none;
color: #2F5233;


}

a:hover{
    color: #9acd32;
}
a:visited {
  color: #2F5233; 
  }

button{
 height: 50px;
  width: 100px;
  background-color: rgb(244, 186, 186);
  box-shadow: #9acd32;
  font-family: "menca", sans-serif;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
    
}

h3{
    font-size: 5rem;
}