body{
    font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 4.5rem;
}

#myHeaders{
    text-align: center;
    color: #2F5233;
}

a{
    
    font-size: 1.2rem;
    text-align: right;
    font-family: "menca", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #2F5233;
}

a:hover{
    color: aliceblue;
}
a:visited {
    color: #50C878;
  }

  p{
    text-align: center;
  }