*{
  box-sizing: border-box;
}

.block:hover {
	background-color: yellow;
  }
  .block2:hover {
	background-color: rgb(255, 140, 0);
  }
  .block3:hover {
	background-color: rgb(255, 81, 0);
  }
  .block4:hover {
	background-color: rgb(255, 0, 111);
  }
  .block5:hover {
	background-color: rgb(221, 0, 255);
  }


.letter{
  width: 200px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}
.block{
  background: rgba(0, 128, 128, 0.53);
  border-radius: 20% 0 10% 0;
  transform: skew(2deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgb(255, 160, 171));
 position: relative;
 top: 30px;
}


.block2{
  background: rgba(176, 248, 248, 0.397);
  border-radius: 20% 50% 10% 0;
  transform: skew(3deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgba(238, 161, 170, 0.643));
 position: relative;
 left: 270px;
 bottom:290px;
}

.block3{
  background: rgba(213, 245, 245, 0.509);
  border-radius: 20% 10% 50% 0;
  transform: skew(4deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgb(219, 2, 27));
 position: relative;
 left: 470px;
 bottom:610px;
 
}

.block4{
  background: rgba(167, 195, 248, 0.509);
  border-radius: 20% 10% 50% 0;
  transform: skew(4deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgba(219, 2, 215, 0.254));
 position: relative;
 left: 750px;
 bottom:920px;
 
}

.block5{
	background: rgba(10, 94, 249, 0.509);
	border-radius: 20% 10% 50% 0;
	transform: skew(4deg);
   mix-blend-mode: multiply; 
   filter: drop-shadow(15px 5px rgba(240, 116, 238, 0.254));
   position: relative;
 left:1040px;
 bottom:1210px;
   
  }

























.block{
	animation: changecolor 200ms linear 200ms 2 alternate;
	rotate: 30deg;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(0, 0, 255, 0.075);
	}
	50% {
		background-color: rgba(222, 20, 236, 0.284);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.167);
	}
}

.block2{
	animation: changecolor 200ms linear 200ms 3 alternate;
	rotate: 30deg;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(0, 0, 255, 0.192);
	}
	50% {
		background-color: rgba(255, 255, 0, 0.394);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.269);
	}
}

.block3{
	animation: changecolor 200ms linear 200ms 4 alternate;
	rotate: 30deg;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(152, 152, 248, 0.423);
	}
	50% {
		background-color: rgba(255, 255, 0, 0.276);
	}
	100%{
		background-color: rgba(211, 92, 8, 0.611);
	}
}

.block4{
	animation: changecolor 200ms linear 200ms 5 alternate;
	rotate: 30deg;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(10, 10, 241, 0.423);
	}
	50% {
		background-color: rgba(255, 255, 33, 0.643);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.734);
	}
}

.block5{
	animation: changecolor 200ms linear 200ms 6 alternate;
	rotate: 30deg;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(100, 10, 241, 0.423);
	}
	50% {
		background-color: rgba(255, 0, 115, 0.643);
	}
	100%{
		background-color: rgba(26, 0, 128, 0.734);
	}
}

