*{
  box-sizing: border-box;
}

.letter{
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}
.block{
  background: rgba(0, 128, 128, 0.53);
  border-radius: 20% 0 10% 0;
  transform: skew(2deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgb(255, 160, 171));
}


.block2{
  background: rgba(176, 248, 248, 0.397);
  border-radius: 20% 0 10% 0;
  transform: skew(3deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgba(238, 161, 170, 0.643));
 position: right;
}

.block3{
  background: rgba(213, 245, 245, 0.509);
  border-radius: 20% 0 10% 0;
  transform: skew(4deg);
 mix-blend-mode: multiply; 
 filter: drop-shadow(15px 5px rgb(219, 2, 27));
 position: right;
}

.block{
	animation: changecolor 400ms linear 200ms 4 alternate;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(0, 0, 255, 0.075);
	}
	50% {
		background-color: rgba(255, 255, 0, 0.284);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.167);
	}
}

.block2{
	animation: changecolor 400ms linear 200ms 4 alternate;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(0, 0, 255, 0.192);
	}
	50% {
		background-color: rgba(255, 255, 0, 0.394);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.269);
	}
}

.block3{
	animation: changecolor 400ms linear 200ms 4 alternate;
}

@keyframes changecolor {
	0%  {
		background-color: rgba(152, 152, 248, 0.423);
	}
	50% {
		background-color: rgba(255, 255, 0, 0.276);
	}
	100%{
		background-color: rgba(0, 128, 0, 0.611);
	}
}
