
@font-face {
  font-family: 'Unique-Regular.otf';
  src: url('https://fontesk.com/unique-typeface/') format('otf');
  font-weight: 600;
  font-style: normal;
}

#variable {
  font-family: "Unique-Regular.otf";
  font-size: 20px;
  transition: font-size 0.5s ease-in-out;
  color:blueviolet;
  text-align: center;
}

#variable:hover {
  font-family: "Unique-Vf.ttf";
  font-size: 70px;
  color: yellowgreen;
}