
@font-face {
    font-family: "doublebass", sans-serif;
    src: "https://use.typekit.net/ygv1ego.css";
}


body{
    font-family: "nobel", sans-serif;
    font-weight: 800;
    font-style: normal;
}

 /* .M { */
    

/* position:relative;
background:white;
mix-blend-mode:color-dodge; */


.Community{


position: relative;


font-family: Arial, Helvetica, sans-serif;
 font-style: bold; 
 font-weight: 400;
font-size: 80px;
text-align: center;

color: #00BD2A;
}

a{
    text-decoration: none;
    color: #00BD2A;
} 


	

	

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  
