body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Brooklyn{

position: relative;
left: 45.16%;
right: 27.34%;
top: 65.5%;
bottom: 28.25%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #C2185B;


}

.StatenIsland{

position: absolute;
left: 8.83%;
right: 63.67%;
top: 84.25%;
bottom: 9.5%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #619CFF;
}



.Bronx{

position: absolute;
left: 71.48%;
right: 13.36%;
top: 11.06%;
bottom: 82.69%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #3F51B5;
}



.Manhattan{

position: absolute;
left: 42.58%;
right: 29.92%;
top: 21.39%;
bottom: 72.36%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #E55000;
}



.Queens{

position: absolute;
left: 71.48%;
right: 13.36%;
top: 43.75%;
bottom: 50%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #FEB301;
}

