body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
 
  .nop{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 8rem;
  }

  .accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #f5f5f5;
  }
  
  .accordion-content {
    padding: 1rem;
    display: none;
  }
  
  .accordion-header.active {
    background-color: #eee;
  }
  
  .accordion-header.active i {
    transform: rotate(180deg);
  }
  
  .fa-chevron-down {
    transition: transform 0.2s ease-in-out;
  }
  





 /* Style the clickable sentence */
#click-me {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  
  /* Style the hidden sentence */
  #hidden-sentence {
    font-style: italic;
    color: aqua;
  }
  





/* 
.Brooklyn{

position: relative;
left: 45.16%;
right: 27.34%;
top: 65.5%;
bottom: 28.25%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #C2185B;


}

.StatenIsland{

position: absolute;
left: 8.83%;
right: 63.67%;
top: 84.25%;
bottom: 9.5%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #619CFF;
}



.Bronx{

position: absolute;
left: 71.48%;
right: 13.36%;
top: 11.06%;
bottom: 82.69%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #3F51B5;
}



.Manhattan{

position: absolute;
left: 42.58%;
right: 29.92%;
top: 21.39%;
bottom: 72.36%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #E55000;
}



.Queens{

position: absolute;
left: 71.48%;
right: 13.36%;
top: 43.75%;
bottom: 50%;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #FEB301;
} */

