body{
    background-color: #ecd8d3;
    font-family:'Courier New', Courier, monospace;
    
}



#data {
  display: flex;
  flex-wrap: wrap-reverse;
}

#data div {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.one {
  background-color: #1B998B;
}

.two {
  background-color: #C5D86D;
}


#getDataButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}




